<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- console stdout -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %-5p %c{2} %x - %m%n"/>
        </layout>
    </appender>

    <!-- fichier d'erreurs -->
    <appender name="ERROR_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="creditauto-agency-error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Threshold" value="WARN"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} %x - %m%n"/>
        </layout>
    </appender>


    <!-- fichier des traces de debug -->
    <appender name="DEBUG_FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="creditauto-agency-debug.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{2} %x - %m%n"/>
        </layout>
    </appender>

    <!-- LOG database creation SQL commands -->
<!--
    <category name="org.hibernate.tool.hbm2ddl">
       <priority value="DEBUG"/>
    </category>
-->

    <category name="org.bitbucket.creditauto">
       <priority value="INFO"/>
    </category>

    <logger name="ua.cetelem">
        <level value="debug"/>
    </logger>

    <!-- ensemble des traces -->
    <root>
        <priority value="ERROR"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ERROR_FILE"/>
        <appender-ref ref="DEBUG_FILE"/>
    </root>

</log4j:configuration>
